body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

*,
*:before
*:after {
    box-sizing: border-box;
}
.wrapper {
    max-width: 500px;
    margin: 20px auto;
}
.line {
    border-bottom: 2px solid #383846;
    opacity: 20%;
    margin-bottom: 10px;
   }
.meme_input{
    width: 0px;
    height: 0px;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.meme_title{
    color: #8b8bc7;
    display: block;
    cursor: pointer;
}
.meme_crosshair{
    overflow: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    width: 15px;
    height: 15px;
}
.crosshair_line_1{
    position: absolute;
    rotate: 90deg;
    display: block;
    width: 15px;
    color: #717171;
    border: 1px solid #717171;
}
.crosshair_line_2{
    position: absolute;
    display: block;
    width: 15px;
    color: #717171;
    border: 1px solid #717171;
}
.meme_img {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    transition: 1s;
}
.meme_img_1 {
    transition: all 1s;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    width: 50%;
}
.meme_img_2 {
    transition: all 1s;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    width: 50%;
}
.meme_img_3 {
    transition: all 1s;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    width: 60%;
}
.meme_img_4 {
    transition: all 1s;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    width: 70%;
}
.meme_item:hover .meme_crosshair{
    rotate: 45deg;
}
.meme_item_1:hover .meme_img_1{
    opacity: 1;
    max-height: 100vh;
}
.meme_item_2:hover .meme_img_2{
    opacity: 1;
    max-height: 100vh;
}
.meme_item_3:hover .meme_img_3{
    opacity: 1;
    max-height: 100vh;
}
.meme_item_4:hover .meme_img_4{
    opacity: 1;
    max-height: 100vh;
}
.meme_container:hover{
    cursor: pointer;
}
.meme_container:hover .meme_title{
    color: black;
    transition: 0.2s;
}
.meme_container:hover .meme_crosshair{
    opacity: 1;
    transition: 0.2s;
}
.radio_meme{
    width: 0px;
    height: 0px;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.meme_label_1{
    display: block;
}
.radio_meme_1:checked ~ .meme_img .meme_img_1{
    opacity: 1; 
    max-height: 100vh;
}
.radio_meme_1:checked ~ .title .meme_title{
    color: black;
}
.radio_meme_1:checked ~ .title .meme_crosshair{
    opacity: 1;
    transition: 0.2s;
    rotate: 45deg;
}

.radio_meme_2:checked ~ .meme_img .meme_img_2{
    opacity: 1; 
    max-height: 100vh;
}
.radio_meme_2:checked ~ .title .meme_title{
    color: black;
}
.radio_meme_2:checked ~ .title .meme_crosshair{
    opacity: 1;
    transition: 0.2s;
    rotate: 45deg;
}

.radio_meme_3:checked ~ .meme_img .meme_img_3{
    opacity: 1; 
    max-height: 100vh;
}
.radio_meme_3:checked ~ .title .meme_title{
    color: black;
}
.radio_meme_3:checked ~ .title .meme_crosshair{
    opacity: 1;
    transition: 0.2s;
    rotate: 45deg;
}

.radio_meme_4:checked ~ .meme_img .meme_img_4{
    opacity: 1; 
    max-height: 100vh;
}
.radio_meme_4:checked ~ .title .meme_title{
    color: black;
}
.radio_meme_4:checked ~ .title .meme_crosshair{
    opacity: 1;
    transition: 0.2s;
    rotate: 45deg;
}